.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.header-logo {
  margin-bottom: 40px;
}

.header-logo-link {
  color: #000000;
  text-align: left;
  margin-top: 63px;
  text-decoration: none;
  font-family: "Roboto";
}

.header-ramda {
  font-weight: 400;
  font-size: 80px;
}

.header-ramda span {
  color: #4bcaff;
}

.top-menu {
  border: #ffffff;
  max-width: 1280px;
  height: 69px;
  background-color: #35444f;
}

.top-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-menu-link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 69px;
  text-align: center;
  padding-top: 23px;
}

.Functional {
  width: 300px;
  height: 69px;
}

.Ramda {
  width: 215px;
  height: 69px;
}

.Fantasy {
  width: 290px;
  height: 69px;
}

.Node {
  width: 290px;
  height: 69px;
}

.main-content {
  max-width: 1280px;
  display: flex;
  margin-top: 49px;
  justify-content: space-between;
}

.aside {
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
}

.aside-menu-list {
  margin-left: 44px;
  height: 399px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aside-menu-link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.6875rem;
  line-height: 27px;
  color: #485863;
}

.main-content-right {
  width: 885px;
  margin-left: 52px;
}

.img-box {
  max-width: 885px;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  margin-top: 2.3125rem;
}

.footer-box {
  height: 69px;
  display: flex;
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
  justify-content: space-around;
  align-items: center;
}

.footer-menu {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-menu-link {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 28px;
  color: #0c1927;
}

.footer-Copyright {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 24px;
  color: #010101;
}
