.wrapper-grid {
  margin: 0 auto;
  max-width: 1461px;
  background-color: #171717;
  height: 4000px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-img {
  align-self: flex-start;
}

.header-button {
  align-self: flex-end;
  border: 1px solid #e4b564;
  display: inline-block;
  position: relative;
}

.header-button-img {
  position: absolute;
  left: 26px;
  top: 9px;
}

.header-button-text {
  padding: 10px 25px 10px 49px;
  font-family: "Circe";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 30px;
  color: #e4b564;
  text-decoration: none;
}

.outdoor-networks {
  margin-top: 128px;
}

.outdoor-networks-title {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 28px;
  color: #ffffff;
}

.outdoor-networks-text {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 28px;
  color: #ffffff;
  margin-top: 41px;
  max-width: 1182px;
}

.outdoor-networks-grid {
  margin-top: 41px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] 468px [row] 468px;
}

.outdoor-networks-grid-box {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 28px;
  color: #ffffff;
}

.Item-1 {
  grid-column: col 1 / span 2;
  grid-row: row;
  background: #634f2c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Item-2 {
  grid-column: col 3 / span 2;
  grid-row: row;
  background: #b4a385;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Item-3 {
  grid-column: col 5 / span 2;
  grid-row: row;
  background: #e4b564;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Item-4 {
  grid-column: col 1 / span 3;
  grid-row: row 2;
  background-color: #635a4a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Item-5 {
  grid-column: col 4 / span 3;
  grid-row: row 2;
  background-color: #b08c4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-park-title {
  margin-top: 161px;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 3.125rem;
  line-height: 28px;
  color: #ffffff;
}

.car-park-grid {
  margin-top: 94px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] 150px [row] 150px [row] 150px [row] 150px [row] 150px [row] 150px;
}

.car-park-grid-box {
  font-family: "Gilam";
  font-size: 1.25rem;
  line-height: 25px;
  color: #ffffff;
}

.car-park-grid-box span {
  position: relative;
  left: 51px;
  top: 44px;
}

.Item-6 {
  font-weight: 400;
  background: #0e0e0e;
  grid-column: col 1;
  grid-row: row 1 / span 2;
}

.Item-7 {
  font-weight: 400;
  background: #242424;
  grid-column: col 2;
  grid-row: row 1 / span 3;
}

.Item-8 {
  font-weight: 500;
  background: #1f1f1f;
  grid-column: col 3;
  grid-row: row 1 / span 2;
}

.Item-9 {
  font-weight: 500;
  background: #1f1f1f;
  grid-column: col 1;
  grid-row: row 3 / span 4;
}

.Item-10 {
  font-weight: 500;
  background: #e4b564;
  grid-column: col 2;
  grid-row: row 4 / span 3;
}

.Item-11 {
  font-weight: 500;
  background: #0e0e0e;
  grid-column: col 3;
  grid-row: row 3 / span 2;
}

.Item-12 {
  font-weight: 700;
  background: #0a0909;
  grid-column: col 3;
  grid-row: row 5 / span 2;
}

.wrapper-flex {
  margin: 0 auto;
  background: #0e0e0e;
  margin-top: 192px;
  max-width: 1461px;
  border-top: 1px solid #0e0e0e;
  height: 1060px;
}

.client-flex {
  margin-bottom: 72px;
  margin-top: 172px;
  display: flex;
  justify-content: space-between;
}

.client-title {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}

.client-title-button {
  border: 1px solid #e4b564;
}

.client-title-button-text {
  font-family: "Circe";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 30px;
  color: #e4b564;
  padding: 10px 40px;
  text-decoration: none;
}

.client-flex-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 391px);
}

.client-flex-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 487px;
  height: 391px;
}

.Item-13 {
  background: #634f2c;
}

.Item-14 {
  background: #e8d2ab 76%;
  flex-direction: column;
  font-family: "Gilam";
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.Item-15 {
  background: #e4b564;
}

.Item-16 {
  background: #635a4a;
}

.Item-17 {
  background: #b08c4d;
}

.Item-18 {
  background: #634f2c;
}
