.wrapper {
  background-image: url("../img/Фон_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 58px;
  background: #000000;
  opacity: 0.41;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.JOURNEY {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 22px;
  color: #ffffff;
  padding-left: 6vw;
}

.JOURNEY:hover {
  color: #01813f;
  cursor: pointer;
}

.icon {
  margin-right: 2vw;
}

.line {
  width: 1px;
  height: 19px;
  background: rgba(255, 255, 255, 0.9);
  display: inline-block;
  margin-right: 27px;
}

.header-right {
  padding-right: 5vw;
}

.header-righ-text {
  display: inline-block;
  text-align: center;
}

.header-text,
.link {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
}

.svg-calendar:hover path {
  fill: green;
  cursor: pointer;
  transition: 0.4s;
}

.svg-email:hover path {
  fill: green;
  cursor: pointer;
  transition: 0.4s;
}

.svg-compass:hover path {
  fill: green;
  cursor: pointer;
  transition: 0.4s;
}

.header-Log-In:hover {
  color: #01813f;
}

.header-Sign-Up:hover {
  color: #01813f;
}

.main-wrapper {
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content {
  width: 444px;
  height: 584px;
  background: #ffffff;
  position: relative;
  margin-bottom: 8px;
  margin-top: 8px;
}

.green-square {
  width: 18px;
  height: 18px;
  background: #3cb878;
  position: absolute;
  top: 31px;
}

.content {
  max-width: 322px;
  margin: 0 auto;
}

.content-top {
  display: flex;
  margin-top: 31px;
  justify-content: space-between;
  align-items: end;
}

.content-Sign-Up {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 20px;
  color: #434343;
}

.content-Log-In {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 0.875rem;
  color: #3cb878;
  cursor: pointer;
  text-decoration: none;
}

.Sign-Up-btn {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.Facebook {
  width: 160px;
  height: 48px;
  background: #305db8;
  border-radius: 2px;
  border: none;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.Facebook:hover {
  background-color: #022263;
}

.Google {
  width: 160px;
  height: 48px;
  background: #df4a32;
  border-radius: 2px;
  border: none;
  position: relative;
  cursor: pointer;
}

.Google:hover {
  background-color: #ab1f09;
}

.btn-text {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1rem;
  line-height: 16px;
  color: #ffffff;
}

.img-Facebook {
  position: absolute;
  left: 17px;
  bottom: 12px;
}

.img-Google {
  position: absolute;
  left: 17px;
  bottom: 15px;
}

.text-border-Facebook {
  background-color: #0a162f;
  width: 1px;
  height: 28px;
  position: absolute;
  bottom: 9px;
  left: 47px;
  opacity: 0.1;
}

.text-border-Google {
  background-color: #2b0d09;
  width: 1px;
  height: 28px;
  position: absolute;
  bottom: 10px;
  left: 49px;
  opacity: 0.1;
}

.word-Facebook {
  position: absolute;
  bottom: 16px;
  right: 20px;
}

.word-Google {
  position: absolute;
  bottom: 16px;
  right: 26px;
}

.or {
  display: block;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 14px;
  color: #848484;
  margin: 31px auto 12px auto;
  text-align: center;
}

.input-shadow {
  margin-bottom: 12px;
  width: 324px;
  height: 42px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.input-shadow:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox {
  border: 2px solid #3cb878;
}

label {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
}

label a {
  color: #3cb878;
  text-decoration: none;
}

.create-account {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  margin-top: 20px;
  border: none;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1rem;
  line-height: 16px;
  color: #ffffff;
  cursor: pointer;
}

.create-account:hover {
  background-color: #01813f;
}

.checkbox-container {
  position: relative;
  margin-top: 12px;
}

label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: border 0.1s linear;
}

label::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/Vector_1.png");
  background-size: 16px 16px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.1s linear;
}

input:checked + label:before {
  border-color: 2px solid #3cb878;
}

input:checked + label::after {
  opacity: 1;
}

:hover {
  transition: 0.4s;
}

.theme {
    position: fixed;
    cursor: pointer;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(39,38,40,0.4);
}

