.header {
  background: #000000;
  opacity: 0.41;
}

.main-content {
  background: #ffffff;
}

.green-square {
  background: #3cb878;
}

.content-Sign-Up {
  color: #434343;
}

.content-Log-In {
  color: #3cb878;
}

.Facebook {
  background: #305db8;
}

.Facebook:hover {
  background-color: #022263;
}

.Google {
  background: #df4a32;
}

.Google:hover {
  background-color: #ab1f09;
}

.btn-text {
  color: #ffffff;
}

.or {
  color: #848484;
}

.input-shadow {
  border: 1px solid #f2f2f2;
}

.input-shadow:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox {
  border: 2px solid #3cb878;
}

label {
  color: #434343;
}

label a {
  color: #3cb878;
}

.create-account {
  color: #ffffff;
}

.create-account:hover {
  background-color: #01813f;
}

label::before {
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
}

.changeTheme[data-theme="dark"] {
  display: block;
}

.changeTheme[data-theme="light"] {
  display: none;
}
