.header {
  background: #000000;
  opacity: 0.7;
}

.main-content {
  background: #222222;
}

.green-square {
  background: #3cb878;
}

.content-Sign-Up {
  color: #828282;
}

.content-Log-In {
  color: #3cb878;
}

.Facebook {
  background: #1c3c7c;
}

.Facebook:hover {
  background-color: #022263;
}

.Google {
  background: #9c301f;
}

.Google:hover {
  background-color: #ab1f09;
}

.btn-text {
  color: #ffffff;
}

.or {
  color: #c2c1c1;
}

.input-shadow {
  border: 1px solid #bebebe;
}

.input-shadow:focus {
  box-shadow: 0px 3px 8px rgba(255, 255, 255, 0.21);
}

.checkbox {
  border: 2px solid #268051;
}

label {
  color: #a6a6a6;
}

label a {
  color: #3cb878;
}

.create-account {
  color: #222222;
}

.create-account:hover {
  background-color: #01813f;
}

label::before {
  border: 1px solid #f2f2f2;
  background-color: #ffffff;
}

.changeTheme[data-theme="dark"] {
  display: none;
}

.changeTheme[data-theme="light"] {
  display: block;
}

.theme {
  background-color: #000000;
  opacity: o.7;
}
