/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page__header {
  width: 85%;
  margin-left: 8%;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 6.625rem;
}
.navigation__icon {
  margin-top: 23px;
  background: #000000;
  color: white;
  width: 44px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navigation__list {
  position: absolute;
  top: 60px;
  width: 182px;
  height: 208px;
  background: #F5F5F5;
}
.navigation__item {
  padding: 13px 15px;
  background-color: #F5F5F5;
  cursor: pointer;
}
.navigation__item:hover {
  background: #E5E5E5;
}
.navigation__link {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #4E4E4E;
}
.navigation .invisible {
  display: none;
}

.responsive {
  height: auto;
  width: 100%;
}

.footer {
  margin-top: 42px;
  width: 100%;
  height: 315px;
  background: #000000;
  text-align: center;
}
.footer__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 22px;
  color: #FEFEFE;
  padding-top: 2.375rem;
}
.footer__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 20px;
  text-align: center;
  color: #B9B9B9;
  margin-top: 0.5rem;
  padding-left: 2.1875rem;
  padding-right: 2.1875rem;
}
.footer__images {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 2.3125rem;
}
.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 24px;
  color: #B9B9B9;
  padding-left: 4.0625rem;
  padding-right: 4.0625rem;
  margin-top: 1.5625rem;
}

.container {
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  header {
    margin-left: 1.5625rem;
  }
  nav {
    width: 100%;
    height: auto;
  }
  nav .navigation__icon {
    display: none;
  }
  #navigation__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: white;
    position: relative;
    top: 0;
    left: 1.5625rem;
    width: 100%;
    height: 6.625rem;
  }
  #navigation__list li {
    background-color: white;
  }
  #heder-image {
    margin-top: 0;
  }
  a:hover {
    color: #57A4A4;
  }
  .ourRecentPosts__element {
    display: flex;
    justify-self: start;
  }
  .block-text {
    margin-left: 1.25rem;
  }
  .block-text .ourRecentPosts__element-paragraf {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 21px;
    color: #5C5C5C;
  }
  .block-img {
    margin-bottom: 2rem;
  }
  .InstagramShot__title {
    display: flex;
  }
  section {
    padding: 50px 0;
  }
  section .InstagramShot__images {
    margin-top: 13px;
    display: flex;
    gap: 9px;
    flex-wrap: nowrap;
    margin-bottom: 42px;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  section .InstagramShot__images .image {
    max-width: 100%;
    height: 100%;
  }
  section .InstagramShot__images .image__element {
    max-width: 100%;
  }
}
.ourRecentPosts {
  margin-left: 8%;
}
.ourRecentPosts__wrapper {
  display: flex;
  flex-direction: column;
}
.ourRecentPosts__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 22px;
  text-transform: uppercase;
  color: #4E4E4E;
  margin-top: 2.375rem;
}
.ourRecentPosts__element-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 30px;
  color: #4E4E4E;
}
.ourRecentPosts__element-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.6875rem;
  line-height: 20px;
  color: #7C7C7C;
}
.ourRecentPosts__element-paragraf {
  display: none;
}

.ourRecentPosts__element {
  margin-top: 1.75rem;
}

.element-visibility {
  display: none;
}

.InstagramShot {
  margin-top: 77px;
  margin-left: 8%;
  margin-right: 16%;
}
.InstagramShot__title {
  display: flex;
  justify-content: space-between;
}

.InstagramShot-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 22px;
  color: #4E4E4E;
  text-transform: uppercase;
}

.InstagramShot-text1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 22px;
  color: #4E4E4E;
  text-transform: uppercase;
}

.InstagramShot__images {
  margin-top: 13px;
  display: flex;
  gap: 9px;
  flex-wrap: nowrap;
  margin-bottom: 42px;
  max-width: 85%;
  height: 249px;
}

.image {
  height: auto;
  width: auto;
}

@media only screen and (min-width: 1200px) {
  section .ourRecentPosts__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1.5625rem;
    grid-row-gap: 2rem;
    width: 85%;
  }
  section {
    padding: 50px 0;
  }
  section .InstagramShot__images {
    margin-top: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 249px;
    grid-template-rows: 1fr;
    grid-column-gap: 9px;
    margin-bottom: 42px;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  section .InstagramShot__images .image {
    max-width: 100%;
    height: 100%;
  }
  section .InstagramShot__images .image__element {
    max-width: 100%;
  }
}