body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

.app {
  width: 100%;
  height: 100%;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: .9375rem;
}

a {
  text-decoration: none;
  align-content: center;
  font-size: 1.5rem;
}

.store-name {
  font-size: 78px;
  font-weight: bold;
  margin-bottom: 20px;
  color: coral;
  text-align: center;
}

.CartPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.favoritesPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.cart-item img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.item-name {
  font-size: 16px;
  font-weight: bold;
}

.item-price {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
}

.delete-icon {
  cursor: pointer;
  margin-left: auto;
  font-size: 20px;
  color: red;
}

.favorite-product-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.favorite-product-card img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}


