.footer {
    margin-top: 42px;
    width: 100%;
    height: 315px;
    background: #000000;
    text-align: center;

    &__title {
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 700;
        font-size: .875rem;
        line-height: 22px;
        color: #FEFEFE;
        padding-top: 2.375rem;
    }

    &__text {
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 400;
        font-size: .75rem;
        line-height: 20px;
        text-align: center;
        color: #B9B9B9;
        margin-top: .5rem;
        padding-left: 2.1875rem;
        padding-right: 2.1875rem;

    }

    &__images {
        @include flex-center;
        align-items: center;
        margin-top: 2.3125rem;
    }

    &__contacts {
        @include flex-center;
        flex-wrap: wrap;
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 24px;
        color: #B9B9B9;
        padding-left: 4.0625rem;
        padding-right: 4.0625rem;
        margin-top: 1.5625rem;

    }
}

.container {
    margin: 0 auto;

}

@media only screen and (min-width: 768px) {

    header {
        margin-left: 1.5625rem;
        ;
    }

    nav {
        width: 100%;
        height: auto;

        .navigation__icon {
            display: none;
        }
    }

    #navigation__list {
        @include flex-center;
        flex-direction: row;


        align-items: center;
        background-color: white;
        position: relative;
        top: 0;
        left: 1.5625rem;
        width: 100%;

        height: 6.625rem;

        li {
            background-color: white;
        }
    }

    #heder-image {
        margin-top: 0;

    }


    a:hover {
        color: #57A4A4;
    }

    .ourRecentPosts__element {
        display: flex;
        justify-self: start;
    }

    .block-text {
        margin-left: 1.25rem;

        .ourRecentPosts__element-paragraf {
            display: block;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: .875rem;
            line-height: 21px;
            color: #5C5C5C;
        }
    }

    .block-img {
        margin-bottom: 2rem;

    }

    .InstagramShot__title {
        display: flex;

    }

    section {
        padding: 50px 0;

        .InstagramShot__images {
            margin-top: 13px;
            display: flex;

            gap: 9px;
            flex-wrap: nowrap;
            margin-bottom: 42px;
            max-width: 100%;
            width: auto;
            height: auto;

            .image {
                max-width: 100%;
                height: 100%;

                &__element {
                    max-width: 100%;
                }
            }

        }
    }


}