.page__header {
    width: 85%;
    //padding-left: 1.5625rem;
    margin-left: 8%;
}

.navigation {
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 6.625rem;

    &__icon {
        margin-top: 23px;
        background: #000000;
        color: white;
        width: 44px;
        height: 37px;
        @include flex-center;
        cursor: pointer;
    }


    &__list {
        position: absolute;
        top: 60px;
        width: 182px;
        height: 208px;
        background: #F5F5F5;
    }

    &__item {
        padding: 13px 15px;
        background-color: #F5F5F5;
        cursor: pointer;
    }

    &__item:hover {
        background: #E5E5E5;
    }

    &__link {

        text-decoration: none;
        font-family: $fontfamily;
        font-weight: 400;
        font-size: .6875rem;
        line-height: 22px;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        color: $yourcolor;
    }


    .invisible {
        display: none;
    }
}

.responsive {
    height: auto;
    width: 100%;
}