@import "_reset.scss";
@import "_mixins.scss";
@import "_variables.scss";
@import "_header.scss";
@import "_footer.scss";


.ourRecentPosts {
    margin-left: 8%;
    
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        //grid-gap: 28px;
    }

    &__title {
        font-family: $fontfamily;
        font-style: normal;
        font-weight: 700;
        font-size: .875rem;
        line-height: 22px;
        text-transform: uppercase;
        color: $yourcolor;
        margin-top: 2.375rem;
    
        }

        &__element-title {
            font-family: $fontfamily;
            font-style: normal;
            font-weight: 700;
            font-size: 0.875rem;
            line-height: 30px;
            color: $yourcolor;
        }

        &__element-text {
            font-family: $fontfamily;
            font-style: normal;
            font-weight: 400;
            font-size: .6875rem;
            line-height: 20px;
            color: #7C7C7C;
        }

        &__element-paragraf {
            display: none;
        }

}

.ourRecentPosts__element {
    margin-top: 1.75rem;
}


.element-visibility {
    display: none;
}

.InstagramShot {
    margin-top: 77px;
    margin-left: 8%;
    margin-right: 16%;

    &__title {
        display: flex;
        justify-content: space-between;
    }
}

.InstagramShot-text {
    font-family: $fontfamily;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 22px;
    color: $yourcolor;
    text-transform: uppercase;
}

.InstagramShot-text1 {
    font-family: $fontfamily;
    font-style: normal;
    font-weight: 700;
    font-size: .8125rem;
    line-height: 22px;
    color: $yourcolor;
    text-transform: uppercase;
}

.InstagramShot__images {
    margin-top: 13px;
    display: flex;
    
    gap: 9px;
    flex-wrap: nowrap;
    margin-bottom: 42px;
    max-width: 85%;
    height: 249px;
}

.image {
    height: auto;
    width: auto;
}


@media only screen and (min-width: 1200px) {
    section {
        .ourRecentPosts__wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 1.5625rem;
            grid-row-gap: 2rem;
            width: 85%;
        }
    }

    section {
        padding: 50px 0;

        .InstagramShot__images {
            margin-top: 13px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-columns: 249px;
            grid-template-rows: 1fr;
            grid-column-gap: 9px;
            margin-bottom: 42px;
            max-width: 100%;
            width: auto;
            height: auto;

            .image {
                max-width: 100%;
                height: 100%;

                &__element {
                    max-width: 100%;
                }
            }

        }
    }

}
