ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  margin: 0 auto;
}

.tabs {
  display: flex;
}

.tablinks {
  padding: 20px;
  background-color: #23201d;
  color: #937341;
  cursor: pointer;
}

.tablinks.active {
  background-color: #937341;
  color: #23201d;
}

.tabcontent {
  display: none;
}
