.body {
  background: url("../img/background\ 1.png");
  max-width: 1366px;
  height: 768px;
  margin: 0 auto;
  background-size: cover;
}

.wrapper {
  margin: 0 auto;
  max-width: 1028px;
  padding-top: 46px;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 61px;
}

.header-logo-link {
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

a:hover .header-logo-text-MILAN {
  color: #f26522;
}

a:hover .header-logo-text-HOLIDAYS {
  color: #f26522;
}

a:hover .header-logo-img {
  background-image: url("../img/logo\ 2.svg");
  width: 53px;
  height: 47px;
}

.header-logo-text {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
}

.header-logo-img {
  width: 53px;
  height: 47px;
  background-image: url("../img/logo\ 3.svg");
}

.header-logo-text-MILAN {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.8125rem;
  line-height: 29px;
  color: #ffffff;
}

.header-logo-text-HOLIDAYS {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 18px;
  color: #ffffff;
}

.contact {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  justify-content: flex-end;
}

.contact-email {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 18px;
  text-decoration: none;
  margin-bottom: 19px;
}

.contact-email:hover {
  color: #f26522;
}

.contact-tel {
  color: #ffffff;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 18px;
  text-decoration: none;
}

.contact-tel:hover {
  color: #f26522;
}

.main-content-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
  margin-top: 22px;
  column-gap: 64px;
  row-gap: 37px;
}

.main-content {
  max-width: 300px;
}

.main-image {
  max-width: 300px;
  height: 220px;
  display: block;
}

.main-content-link {
  text-decoration: none;
}

.main-image-text {
  display: none;
  width: 300px;
  height: 55px;
  background-color: #f26522;
  position: relative;
  top: 165px;
  color: #ffffff;
}

.main-image-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 18px;
  display: block;
  height: 40px;
  text-align: center;
  color: #ffffff;
  position: relative;
  top: 20px;
}

a:hover .main-image-text {
  display: inline-block;
}

a:hover .main-image-title {
  color: #f26522;
}

.from {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 10px;
  color: #ffffff;
}

.price {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  padding-left: 16px;
  height: 55px;
}

.Details {
  position: relative;
  left: 180px;
  bottom: 29px;
}

.Details::after {
  content: url("../img/Vector\ 1.png");
}

.Shopping {
  background: url(../img/image.png);
}

.Sightseeing {
  background: url(../img/image1.png);
}

.Food {
  background: url(../img/image2.png);
}

.Bars {
  background: url(../img/image3.png);
}

.Art {
  background: url(../img/image4.png);
}

.Walking {
  background: url(../img/image5.png);
}

.footer {
  max-width: 1366px;
  height: 45px;
  margin-top: 60px;
}

.footer-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 12px;
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-bottom: 15px;
}
