.card {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }

    .card .title {
      font-weight: bold;
      margin-bottom: 5px;
    }

    .card .text {
      margin-bottom: 10px;
    }

    .card .user {
      font-style: italic;
      font-size: 12px;
    }

    .card .delete-button {
      background-color: red;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }