// .app {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
// }

.button-container {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

/* Add any additional styling for the buttons here */
.button {
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}