.content-container {
  max-width: 100vw;
  height: 1012px;
  margin: 0 auto;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.content-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

.header {
  height: 1012px;
  width: 100vw;
  position: relative;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  max-width: 1160px;
  margin: 0 auto;
}

.header-wrapper {
  text-align: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 1012px;
}

.parallax {
  
  z-index: 1;
  
}

.header-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  transform-origin: center;
  background-image: url(../img/Sections_background/section-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 1280px;
  
}

.heder-nav {
  position: absolute;
  width: 100vw;
  height: 120px;
  top: 0px;
  left: 0;
  background: rgba(94, 93, 88, 0.6);
  text-align: center;
  align-content: center;
  display: inline;
  align-items: center;
  align-self: center;
  z-index: 3;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.H-poligon {
  background-color: #18cfab;
  clip-path: polygon(0 30%, 50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%);
  width: 58px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.H {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  color: #ffffff;
}

.logo-click {
  text-decoration: none;
}

.logo {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
}

.green {
  color: #18cfab;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}

.svg-icon:hover {
  fill: #18CFAB;
  cursor: pointer;
}

.nav-list-item {
  display: flex;
  justify-content: center;
  height: 120px;
  align-items: center;
}

.search-menu {
  display: flex;
  justify-content: space-between;
}

.header-link {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 10px;
  padding-right: 10px;
}

.img-search {
  padding-left: 21px;
}

.nav-list-item:hover {
  color: #18cfab;
  border-bottom: #18cfab 2px solid;
  cursor: pointer;
}

.header-h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 2.1875rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 264px;
}

.header-h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 4.875rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 22px;
}

.header-h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 2.125rem;
  color: #d4d4d4;
  margin-top: 22px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  z-index: 3;
}

.button-left {
  width: 169px;
  height: 63px;
  background: #18cfab;
  margin-right: 26px;
  box-shadow: 0 -6px 0 0  white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button-left:active {
  box-shadow: 0 0 0 0 white;
  bottom: 6px;

}

.button-right {
  width: 169px;
  height: 63px;
  background: #00cbf6;
  box-shadow: 0 -6px 0 0  white;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button-right:active {
  box-shadow: 0 0 0 0 white;
  bottom: 6px;

}

.button-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.section-grid {
  display: grid;
  grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr;
  grid-template-rows: [row] 377px;
}

.Different {
  background: #1c2a33;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #18cfab;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fully {
  background: #18cfab;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.unlimited {
  background: #1c2a33;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #18cfab;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.responsive {
  background: #18cfab;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-grid-img-Different {
  margin-bottom: 48px;
}

.section-grid-img-fully {
  margin-bottom: 59px;
}

.section-grid-img-unlimited {
  margin-bottom: 49px;
}

.section-grid-img-responsive {
  margin-bottom: 59px;
}

.Our-Services {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  color: #4e4e4e;
  margin-top: 83px;
}

.line-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 66px;
}

.line-wrapper {
  width: 95px;
  height: 11px;
  position: relative;
  margin-top: 26px;
}

.line-wrapper::before {
  content: '';
  background-color: #18CFAB;;
  height: 2px;
  display: block;
  width: 78px;
  left: 0px;
  top: 0px;
}

.line-wrapper::after {
  content: '';
  background-color: #18CFAB;;
  height: 2px;
  display: block;
  width: 78px;
  position: absolute;
  left: 8px;
  bottom: 0px;
}

/*.line-top {
  position: absolute;
  width: 75.54px;
  height: 2px;
  left: 0px;
  top: 0px;
  background: #18cfab;
}

.line-bottom {
  position: absolute;
  width: 78px;
  height: 2px;
  left: 8px;
  bottom: 0px;

  background: #18cfab;
}*/

.tab {
    display: grid;
    grid-template-columns: [col] 195px [col] 195px [col] 195px [col] 195px [col] 195px [col] 195px;
    grid-template-rows: [row] 72px;
    margin-top: 69px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    background-color:  #F8FCFE;

}

.tablinks {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #717171;
    cursor: pointer;
    position: relative;

}

.tablinks.active::after {
    content: '';
   border: 12px solid transparent;
   border-top: 12px solid #18cfab;
   position: absolute;
   left: 50%;
   margin-left: -12px;
   bottom: -24px;
   width: 0;
   color:  #18cfab;
}



.tabcontent {
    display: flex;
    justify-content: space-between;
    height: 140px;
    margin-top: 23px;
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tab-text {
    Font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 0.8528rem;
    display: flex;
    align-items: center;
    color: #777777;
    padding-left: 5px;
    line-height: 24px;

}

.tab button {
    border: none;
}

.tab button:hover {
    border: 2px solid #18CFAB;
}

.tab button.active {
    background: #18CFAB;
    color: #FFFFFF;
    
}

.everything {
    margin-top: 91px;
    width: 100%;
    height: 476px;
    background-image: url("../img/landing-page/Layer21.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.everything-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
 }

 .everything-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 40px;
    color: #D8D8D8;
 }

 .everything-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: .9375rem;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #18CFAB;
    margin-top: 67px;
    width: 168px;
    height: 63px;
    border-style: none ;
 }

 .AmazingWork {
  background: #E9EDEF;
  height: 100%;
  width: 100%;
 }

 .AmazingWork-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 40px;
    color: #4E4E4E;
    padding-top: 96px;
 }

 .AmazingWork-buttoms {
    width: 582px;
    display: grid;
    grid-template-columns: [col] 1fr [col] 1fr [col] 1fr [col] 1fr [col] 1fr;
    grid-template-rows: [row] 58px;
    margin-top: 69px;
    
    outline: none;
    cursor: pointer;
    transition: 0.3s;

 }

 .AmazingWork-buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    color: #717171;
    border: 1px solid #DADADA;
 }

 .AmazingWork-grid {
    display: grid;
    grid-template-columns: [col] 285px [col] 285px [col] 285px [col] 285px;
    grid-template-rows: [row] 211px [row] 211px [row] 211px;
    margin-top: 71px;
 }

 .AmazingWork-grid-svg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 211px;
    width: 285px;
 }

 .AmazingWork-grid-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 0.8861rem;
    text-transform: uppercase;
    color: #18CFAB;
 }

 .AmazingWork-grid-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 0.7595rem;
    color: #8A8A8A;
 }

 .button-wrapper {
  padding-bottom: 99px;
 }

 .AmazingWork-grid-load {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: .875rem;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #18CFAB;
    margin-top: 70px;
    width: 168px;
    height: 63px;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    
 }

 .AmazingWork-grid-load::before {
    content: url("../img/grid-icon/Forma1.svg");
 }

 .AmazingWork-buttoms buttom.active {
    border: 2px solid #18CFAB;
 }

.images.active {
    display: grid;
    grid-template-columns: [col] 285px [col] 285px [col] 285px [col] 285px;
    grid-template-rows: [row] 211px [row] 211px [row] 211px;;
}

.images img:hover {
    content: url('../img/grid-icon/icon13.png');
    transition: margin-top 2s ease-out;
}

.BreakingNews {

}

.BreakingNews-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  color: #4E4E4E;
  margin-top: 82px;

}

.BreakingNews-grid-wrapper {
  display: grid;
  grid-template-columns: [col] 263px [col] 263px [col] 263px [col] 263px;
  grid-template-rows: [row] 281px [row] 281px;
  grid-column-gap: 35px;
	grid-row-gap: 35px;
  margin-top: 68px;
}

.BreakingNews-grid-elem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.BreakingNews-grid-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  color: #717171;
}

.BreakingNews-calendar {
  width: 70px;
  height: 68px;
  background: #203E38;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.BreakingNews-coment {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: .875rem;
  color: #777777;

}

.BreakingNews-grid-elem:hover .BreakingNews-calendar{
  
  background: #18CFAB;
}

.BreakingNews-grid-elem:hover .BreakingNews-grid-title {
  color: #18CFAB;
}

.WhatPeopleSay {
  background-image: url("../img/Sections_background/section-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 953px;
  margin-top: 129px;
}

.WhatPeopleSay-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 2.25rem;
  color: #FFFFFF;
  padding-top: 98px;
}

.content {
  margin-top: 66px;
}

.slider-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  color: #BBBBBB;
  margin-top: 36px;
  line-height: 30px;
}

.name-Hasan {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 27px;
  color: #18CFAB;
  margin-top: 37px;
}

.work {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  color: #BBBBBB;
  
}

.slider-nav {
  max-width: 450px;
  margin: 0 auto;
}

.slider-for {
  margin-bottom: 69px;
}

.slick-list {
  margin: 0 auto;
}

#content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.work {
  margin-bottom: 50px;
}

.slider-img {
  margin: 0 auto;
  
}

.slider-foto-people {
   margin: 0 auto;
   margin-top: 50px;
}

.footer {
  width: 100%;
  height: 121px;
  background: #22353F;
}

.footer-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 121px;
}

.footer-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: .875rem;
  line-height: 26px;
  color: #AEAEAE;
}

.footer-green {
  color: #18CFAB;
}
